@import "tailwindcss";

:root {
  --background: rgb(10, 10, 10);
  --foreground: #ffffff;

  /* --card: rgb(23, 23, 23); */
  --intro-navbar: hsl(245, 64%, 53%);
  --room-card: hsl(210, 7%, 11%);
  --room-card-input: hsl(225, 7%, 11%);
  --room-card-input-border: hsl(219, 10%, 26%);
  --room-card-input-label: hsl(224, 25%, 83%);
  --hover-tab: hsl(230, 9%, 13%);
  --color-create-join-border: #27292c;
  --color-card-2nd: #202020;

  /* Cerulean Blue – Base Palette */
  --cerulean-blue-50: hsl(225, 50%, 97%);
  --cerulean-blue-100: hsl(227, 51%, 93%);
  --cerulean-blue-200: hsl(225, 54%, 87%);
  --cerulean-blue-300: hsl(223, 53%, 78%);
  --cerulean-blue-400: hsl(224, 51%, 68%);
  --cerulean-blue-500: hsl(229, 49%, 60%);
  --cerulean-blue-600: hsl(232, 45%, 53%);
  --cerulean-blue-700: hsl(235, 42%, 50%);
  --cerulean-blue-800: hsl(237, 39%, 40%);
  --cerulean-blue-900: hsl(236, 35%, 33%);
  --cerulean-blue-950: hsl(236, 31%, 21%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Shadcn Colors */
  --color-intro-navbar: hsl(245, 64%, 53%);
  --color-room-card: hsl(210, 7%, 11%);
  --color-room-card-input: hsl(225, 7%, 11%);
  --color-room-card-input-border: hsl(219, 10%, 26%);
  --color-room-card-input-label: hsl(224, 25%, 83%);
  --color-hover-tab: hsl(230, 9%, 13%);
  --color-create-join-border: #27292c;

  --color-cerulean-blue-50: hsl(225, 50%, 97%);
  --color-cerulean-blue-100: hsl(227, 51%, 93%);
  --color-cerulean-blue-200: hsl(225, 54%, 87%);
  --color-cerulean-blue-300: hsl(223, 53%, 78%);
  --color-cerulean-blue-400: hsl(224, 51%, 68%);
  --color-cerulean-blue-500: hsl(229, 49%, 60%);
  --color-cerulean-blue-600: hsl(232, 45%, 53%);
  --color-cerulean-blue-700: hsl(235, 42%, 50%);
  --color-cerulean-blue-800: hsl(237, 39%, 40%);
  --color-cerulean-blue-900: hsl(236, 35%, 33%);
  --color-cerulean-blue-950: hsl(236, 31%, 21%);

  /* Typography scale – Major Third (1.25), base 16px */
  --text-xs: 0.8rem;
  --text-sm: 0.9rem;
  --text-base: 1rem;
  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.563rem;
  --text-2xl: 1.953rem;
  --text-3xl: 2.441rem;
  --text-4xl: 3.052rem;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* .dark {
  --cerulean-blue-50:  #252746;
  --cerulean-blue-100: #373b71;
  --cerulean-blue-200: #3f438e;
  --cerulean-blue-300: #4c54b5;
  --cerulean-blue-400: #5260be;
  --cerulean-blue-500: #6679cb;
  --cerulean-blue-600: #8399d7;
  --cerulean-blue-700: #abbbe5;
  --cerulean-blue-800: #cdd6f0;
  --cerulean-blue-900: #e3e7f6;
  --cerulean-blue-950: #f3f5fb;
} */
