@import "tailwindcss";

:root {
  --background: rgb(10, 10, 10);
  --foreground: #ffffff;

  /* --card: rgb(23, 23, 23); */
  --intro-navbar: hsl(235, 42%, 50%);
  --room-card: hsl(210, 6%, 6%);

  /* Cerulean Blue – Base Palette */
  --cerulean-blue-50: hsl(225, 50%, 97%);
  --cerulean-blue-100: hsl(227, 51%, 93%);
  --cerulean-blue-200: hsl(225, 54%, 87%);
  --cerulean-blue-300: hsl(223, 53%, 78%);
  --cerulean-blue-400: hsl(224, 51%, 68%);
  --cerulean-blue-500: hsl(229, 49%, 60%);
  --cerulean-blue-600: hsl(232, 45%, 53%);
  --cerulean-blue-700: hsl(235, 42%, 50%);
  --cerulean-blue-800: hsl(237, 39%, 40%);
  --cerulean-blue-900: hsl(236, 35%, 33%);
  --cerulean-blue-950: hsl(236, 31%, 21%);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  /* Shadcn Colors */
  --color-intro-navbar: var(--intro-navbar);
  --color-room-card: var(--room-card);

  --color-cerulean-blue-50: var(--cerulean-blue-50);
  --color-cerulean-blue-100: var(--cerulean-blue-100);
  --color-cerulean-blue-200: var(--cerulean-blue-200);
  --color-cerulean-blue-300: var(--cerulean-blue-300);
  --color-cerulean-blue-400: var(--cerulean-blue-400);
  --color-cerulean-blue-500: var(--cerulean-blue-500);
  --color-cerulean-blue-600: var(--cerulean-blue-600);
  --color-cerulean-blue-700: var(--cerulean-blue-700);
  --color-cerulean-blue-800: var(--cerulean-blue-800);
  --color-cerulean-blue-900: var(--cerulean-blue-900);
  --color-cerulean-blue-950: var(--cerulean-blue-950);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* .dark {
  --cerulean-blue-50:  #252746;
  --cerulean-blue-100: #373b71;
  --cerulean-blue-200: #3f438e;
  --cerulean-blue-300: #4c54b5;
  --cerulean-blue-400: #5260be;
  --cerulean-blue-500: #6679cb;
  --cerulean-blue-600: #8399d7;
  --cerulean-blue-700: #abbbe5;
  --cerulean-blue-800: #cdd6f0;
  --cerulean-blue-900: #e3e7f6;
  --cerulean-blue-950: #f3f5fb;
} */
